@using Microsoft.AspNetCore.Components.Web;
@using ContoseCrafts.Models;
@using ContoseCrafts.Services;
@inject JsonFileProductService ProductService

<div class="card-columns">
    @foreach (var product in ProductService.GetProducts())
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image')"></div>
            <div class="card-body">
                <h5 class="card-title">@product.Title</h5>
            </div>
            <div class="card-footer">
                <small class="text-muted">
                    <button @onclick="(e => SelectedProduct(product.ID))" data-toggle="modal" data-target="#productModel" class="btn btn-primary">More Info</button>
                </small>
            </div>
        </div>
    }
</div>

@if(selectedProduct !=null)
{

}

@code {
    Product selectedProduct;
    string selectedProductId;

    void SelectedProduct(string productId)
    {
        selectedProductId = productId;
        selectedProduct = ProductService.GetProducts().First(x => x.ID == productId);
    }
}
